---
// src/components/StaticSections/PrimaryHero.astro
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/Landing-Page-Background-1-scaled.jpg";
import { SiteData } from "@/content/SiteData";
import { Image } from "astro:assets";
---

<Section
  heading={{
    text: SiteData.tagline,
    tagName: "h2",
    class: "h2 font-bold text-bg py-[var(--spacing-lg)]",
  }}
  description={SiteData.description}
  descriptionClass="lg:w-2/3 w-full text-bg lg:text-center text-justify"
  backgroundMedia={{
    image: {
      src: HeroBg,
      imageClass: "filter bg-cover bg-center",
    },
    // overlayClass: "bg-black opacity-50",
  }}
    headingAreaClass="flex flex-col items-center justify-center text-center"
    sectionClass="min-h-[100vh] md:min-h-[200vh] flex items-center lg:items-start justify-center z-100 text-bg bg-[#2b2b2b] text-center"
    contentClass="flex flex-col-reverse flex justify-center items-center md:min-h-[90vh] lg:w-7/10 w-9/10"
    buttonsSectionClass="mt-[var(--spacing-xl)]"
    childSlotClass="order-1 text-center md:text-left flex justify-center items-center"
>
  <Image
    src={SiteData.logo.src}
    alt={`${SiteData.title} logo`}
    class="h-auto w-150"
    format="webp"
    loading="eager"
    quality="low"
    fetchpriority="high"
    aria-hidden="true"
  />
</Section>
