---
// src/components/StaticSections/SecondaryHero.astro
import { SiteData } from "@/content/SiteData";
import Section from "../Section.astro";
const { title } = Astro.props; // The hero title passed in as a prop
import HeroBg from "@/assets/Landing-Page-Background-1-scaled.jpg";
---
<Section
  backgroundMedia={{
    image: {
      src: HeroBg,
      imageClass: "filter bg-cover bg-center",
    },
  }}
      heading={[
        {
          text: `Partner With Us`,
          tagName: "h2",
          class: "h2 font-bold text-bg",
        },
        {
          text: `${SiteData.title}`,
          tagName: "h6",
          class: "h6 font-thin text-bg",
        },
      ]}
  sectionClass="flex items-center justify-center min-h-[50vh]"
  contentClass="container mx-auto text-center"
>
</Section>